:root {
  --active-color: #5ece7b;
  --pri-color: #1d1f22;
  --fade-color: #8d8f9a;
}

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
